# [ cupp.cfg ]
#
# This is configuration file for cupp.py
#

# There are no options to configure the application within it. The app reads it,
# does not change it. I'm hoping you'll figure out how to looking at this.

# [ 1337 mode ]
# If you think this default settings are not right,
# you can change it for yourself. For example if you
# don't like a=4, just change it to a=@ :)
# If you don't need some chars, just comment it! Duplicates are allowed too.
# For adding chars, you might need to add some lines in cupp.py...
[years]
years = 2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020

[leet]
a=4
i=1
e=3
t=7
o=0
s=5
g=9
z=2


# [ Special chars ] for adding some pwnsauce! Remove or add as necessary,
# separated by comma

[specialchars]
chars=!,@,'#',$,%%,&,*


# [ Random years ] take it as much as you need!




# [ Random numbers ]
# In this default setting, numbers from 0 to 100 will be added to all words
# compiled by cupp.py

[nums]
from=0
to=100

# [ Word length shaping ]
# This setting will exclude words from compiled wordlist that are shorter
# than [wcfrom] and longer than [wcto].

wcfrom=5
wcto=12

# [ Threshold ]
# Threshold setting for word concatenations parsed from existing wordlist
# (using -w option).
# For example, from 200 words CUPP will compile 200*200=40,000 new words.
# Increasing this level may cause high memory consumption, be careful.

threshold=200


# [ Wordlist config ]
[alecto]
alectourl=https://github.com/yangbh/Hammer/raw/b0446396e8d67a7d4e53d6666026e078262e5bab/lib/cupp/alectodb.csv.gz

[downloader]
dicturl=http://ftp.funet.fi/pub/unix/security/passwd/crack/dictionaries/
